.vscode/**
*.vsix
.gitignore
tsconfig.json
package-lock.json
backup
client
server
node_modules
scripts
contributing.md
.travis.yml
!server/out/**
!client/out/**
client/out/test/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
!server/node_modules/**
